//Body Styling
body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
  font-family: "Roboto", sans-serif;
  color: #beb3b0;
  margin: 0;
  background-color: #151a2b;
  padding-left: 5%;
  padding-right: 5%;
}

//Header Styling

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  color: #beb3b0;
  justify-content: space-between;

  .leftSide {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: x-large;
  }

  .rightSide {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  img {
    width: 40px;
    border-radius: 25px;
  }
}

//Hero Styling

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10%;

  .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 50%;
      padding: 0px;
      margin: 0;
      font-size: 60px;
    }

    p {
      width: 60%;
      font-size: xx-large;
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: flex-end;

    img {
      width: 80%;
      min-width: 600px;
      height: auto;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    button {
      border-style: none;
      border-radius: 25px;
      width: 12rem;
      font-weight: bolder;
      font-size: large;
      padding: 1rem;
      background-image: linear-gradient(to right, #b03ed1, #de3c83);

      &:hover {
        cursor: pointer;
        scale: 1.1;
      }

      &:active {
        cursor: pointer;
        scale: 1;
        opacity: 0.9;
      }
    }
  }
}

//Contact Styling

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;

  h1 {
    font-size: xx-large;
  }

  form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    font-size: x-large;
    padding-bottom: 10%;
    gap: 2rem;

    .name,
    .contactInfo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      div {
        width: 40%;
        display: flex;
        flex-direction: column;
      }
    }

    .message {
      padding-top: 20px;
      width: 100%;
      textarea {
        min-width: 100%;
        min-height: 3.5rem;
        color: #beb3b0;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid #b03ed1;
        border-radius: 10px;
        font-size: x-large;
        &::placeholder {
          font-size: x-large;
        }
      }
    }

    input {
      padding-left: 20px;
      color: #beb3b0;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 2px solid #b03ed1;
      height: 3rem;
      border-radius: 10px;
      font-size: large;
      &::placeholder {
        font-size: large;
      }
    }

    button {
      border-style: none;
      border-radius: 25px;
      width: 12rem;
      font-weight: bolder;
      font-size: large;
      padding: 1rem;
      background-image: linear-gradient(to right, #b03ed1, #de3c83);

      &:hover {
        cursor: pointer;
        scale: 1.1;
      }

      &:active {
        cursor: pointer;
        scale: 1;
        opacity: 0.9;
      }
    }
  }
}
